// Переменные, миксины, функции
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";

// CSS-файлы библиотек
@import "vendor/libs";

// Основное
@import "base/fonts";
@import "base/general";

// БЭМ-блоки
@import "../blocks/modules";

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 1140px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}
@media (max-width: 576px) {
    .container {
        width: 100%;
        // padding-right: 10px;
        // padding-left: 10px;
    }
}