@media (max-width: 1200px) {
  .experience {
    padding-top: 100px;
    .resume__wrapper {
      column-gap: 60px;
      margin-left: 0;
    }
  }
}
@media (max-width: 992px) {
  .experience {
    padding-top: 80px;
    .subtitle {
      font-size: 30px;
    }
    .resume__wrapper {
      grid-template-columns: repeat(2, 300px);
      column-gap: 60px;
      margin-left: 0;
      .resume__item {
        &-body {
          width: 300px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .experience {
    padding-top: 60px;
    .subtitle {
      font-size: 30px;
    }
    .resume__wrapper {
      grid-template-columns: 480px;
      column-gap: 60px;
      margin-left: 0;
      .resume__item {
        &-body {
          width: 450px;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .experience {
    padding-top: 45px;
    .subtitle {
      font-size: 24px;
      padding-bottom: 15px;
    }
    .resume__wrapper {
      padding: 40px 10px 0px 65px;

      grid-template-columns: 250px;
      column-gap: 60px;
      margin-left: 0;
      .resume__item {
        &-body {
          width: 250px;
        }
      }
    }
  }
}
