.policy__page {
  padding: 40px 20px 40px 20px;
  .title_fz24 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  span {
    padding-left: 15px;
    font-size: 18px;
    font-weight: 700;
  }
}
