@media (max-width: 1200px) {
  .popup__bg {
    .popup {
      width: 50vw;
      height: auto;
      .content_hc {
        .hacaton_img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .popup__bg {
    .popup {
      width: 80vw;
      height: auto;
      .content_hc {
        .hacaton_img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .popup__bg {
    .popup {
      width: 90vw;
      height: auto;
      .content_hc {
        .hacaton_img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .popup__bg {
    .popup {
      width: 100vw;
      height: auto;
      .content_hc {
        .hacaton_img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
@media (max-width: 320px) {
  .popup__bg {
    .popup {
      width: 100vw;
      height: auto;
      .content_hc {
        .hacaton_img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
