.title {
         
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;

    &_fz12 {
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
    }
    &_fz14 {
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
    }
    &_fz16 {
         font-size: 16px;       
         line-height: 24px; //normal
    }
    &_fz20 {
        font-size: 20px;       
        line-height: 30px; //normal
   }
    &_fz36 {
        font-size: 36px;        
        font-weight: 700;
        line-height: 60px;
    }
    &_fz48 {
        font-size: 48px;
    }
   
}