@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  .go-top {
    right: 70px;
  }
}
@media (max-width: 768px) {
  .go-top {
    right: 50px;
    bottom: 50px;
  }
}
@media (max-width: 576px) {
}
