.portfolio {
  padding-top: 120px;
  .title {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    @include before_circle;
    &:before {
      top: -5px;
    }
  }
  .subtitle {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 25px;
  }
  .divider {
    width: 60px;
    height: 3px;
    background-color: $main-color;
    margin: 0 auto;
  }
  &__wrapper {
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 280px);
    grid-template-rows: repeat(1, 280px);
    grid-auto-rows: 280px;
    column-gap: 5px;
    row-gap: 15px;
    padding-top: 60px;
    .card {
      width: 280px;
      height: 280px;
      background: grey;
      border-radius: 10px;
      transition: background 0.8s;
      overflow: hidden;
      background: black;
      box-shadow: 0 70px 63px -60px #000000;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    .border {
      height: 265px;
      width: 265px;
      background: transparent;
      border-radius: 10px;
      transition: border 1s;
      position: relative;
      &:hover {
        border: 1px solid white;
      }
      a {
        opacity: 0;
      }
      a {
        display: block;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: white;
        font-size: 36px;
        margin: 20px;
        transition: opacity 1s;
        text-decoration: none;
        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
        }
      }
    }
    .card0 {
      background: url('/img/img/works/emart.webp') center center no-repeat;
      background-size: 300px;
      &:hover {
        background: url('/img/img/works/emart.webp') left center no-repeat;
        background-size: 600px;
        a {
          opacity: 1;
        }
      }
    }
    .card0 {
      background: url('/img/img/works/emart.webp') center center no-repeat;
      background-size: 300px;
      &:hover {
        background: url('/img/img/works/emart.webp') left center no-repeat;
        background-size: 600px;
        a {
          opacity: 1;
        }
      }
    }
    .card1 {
      background: url('/img/img/works/room2.webp') center center no-repeat;
      background-size: 300px;
      &:hover {
        background: url('/img/img/works/room2.webp') left center no-repeat;
        background-size: 600px;
        a {
          opacity: 1;
        }
      }
    }
    .card2 {
      background: url('/img/img/works/glasgo.webp') center center no-repeat;
      background-size: 300px;
      &:hover {
        background: url('/img/img/works/glasgo.webp') left center no-repeat;
        background-size: 600px;
        a {
          opacity: 1;
        }
      }
    }
    .card3 {
      background: url('/img/img/works/todo.webp') center center no-repeat;
      background-size: 300px;
      &:hover {
        background: url('/img/img/works/todo.webp') left center no-repeat;
        background-size: 600px;
        a {
          opacity: 1;
        }
      }
    }
    .card4 {
      background: url('/img/img/works/scan.webp') center center no-repeat;
      background-size: 300px;
      &:hover {
        background: url('/img/img/works/scan.webp') left center no-repeat;
        background-size: 600px;
        a {
          opacity: 1;
        }
      }
    }
  }
}
