.hamburger {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
  outline: none;
  width: 40px;
  border-radius: 10px;
  &:focus {
    box-shadow: 0 0 15px #000;
  }
  svg {
    padding: 3px;
    padding-bottom: 0;
    fill: $main-color;
    width: 32px;
    height: 32px;
  }
}
